{% extends "base.html" %}
{% block title %}
  Войти
{% endblock %}
{% block content %}
{% include 'includes/start_notion.html' %}
  <div class="card-header">
    Войти на сайт
  </div>
{% include 'includes/form.html' %}
  <div class="col-md-6 offset-md-4">
    <button type="submit" class="btn btn-primary">
      Войти
    </button>
    <a href="{% url 'users:password_reset_form' %}" class="btn btn-link">
      Забыли пароль?
    </a>
  </div>
</form>
{% include 'includes/end_notion.html' %}
{% endblock %} 